body {
    width: 960px;
    height: 1300px;
    
}

#contentr {
    background-color: black;
    width: 200px;
    height: 100px;
    position: relative;
    left: 400px;


}


#maincontent{
    width: 900px;
    height: 150px;
    background-color: white;
    position: relative;
    color: darkgrey;
    

}
#sidebar{
    position: relative;
    
}
#left{
    float: left;
    background-color: black;
    color : white;
    height: 750px;
    width: 300px;
    padding: 20px;

}
#right{
    float: right;
    background-color: white;
    height: 790px;
    width: 500px;
    margin-right: 100px;
}
#footer{
     
    position: relative;
    width: 850px;
    height: 150px;
    display: flex;
  
}


#RightF {
    border-left:3px black solid; 
    width: 200px;
    position:absolute; 
    top: 0;
    right: 0;
    
   
    
    
}
#LeftF {
    border-left:3px black solid; 
    width: 150px;
    position: absolute;
    top: 0;
    right: 200px;
    

 }   
 #foot3{
    border-left:3px black solid; 
    position:absolute; 
    top: 0;
    right: 360px
    
 } 